{% if daily|length == 0 %}
<strong>No programs</strong>
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-striped align-middle">
        <thead class="table-dark">
        <tr>
            <th scope="col">Hour</th>
            <th scope="col">Executions</th>
        </tr>
        </thead>
        <tbody>
        {% for day in daily %}
        <tr>
            <td><strong>{{ day.Hour }}</strong></td>
            <td>
                <ul class="list-group list-group-flush ms-2">
                    {% for exec in day.Executions %}
                    <li class="list-group-item bg-light">
                        <strong>Seconds:</strong> {{ exec.Seconds }}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <strong>Zones:</strong> {{ exec.Zones|join:", " }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
