{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center my-4">Execution</h2>
    {% include "partials/success_form.html" %}
    {% include "partials/error_form.html" %}

    <div class="d-flex justify-content-center">
        <form action="/execution/{{ id }}" method="POST" class="p-4 border rounded shadow-sm" style="max-width: 400px; width: 100%;">
            <div class="mb-3">
                <label for="zone" class="form-label">Zone</label>
                <input type="text" class="form-control text-center" id="zone" name="zone" disabled value="{{ id }}">
            </div>

            <div class="mb-3">
                <label for="seconds" class="form-label">Seconds</label>
                <input type="number" class="form-control text-center" id="seconds" name="seconds" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Execute</button>
        </form>
    </div>
</div>

{% endblock %}