{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
<h2 class="text-center my-4">Execution Logs</h2>
{% include "partials/error_form.html" %}

    <ul class="list-group">
        {% if logs|length == 0 %}
        <li class="list-group-item text-center text-muted">No logs</li>
        {% else %}
        {% for log in logs %}
        <li class="list-group-item mb-2">
            <div class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center mb-1">
                <div class="d-flex align-items-center gap-2 mb-2 mb-sm-0">
                    <span class="badge bg-primary rounded-pill">{{ log.ExecutedAt.Format("15:04") }}</span>
                    <strong>{{ log.Zone }}</strong>
                </div>
                <span class="text-end">{{ log.Seconds }}s</span>
            </div>
            <div class="text-end">
                <small class="text-muted">{{ log.ExecutedAt.Format("02 Jan 2006") }}</small>
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>

{% endblock %}