<!DOCTYPE html>
<html lang="ca">
<head>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create a new password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<main class="py-3">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="card shadow-sm p-4 w-100" style="max-width: 400px;">

            <img src="/static/bonsai_water_system_logo.png"
                 alt="Bonsai Water System Logo"
                 class="mb-3"
                 style="height: 200px; width: auto;">

            <h4 class="mb-3 text-center">Create a new password</h4>

            {% if error_msg %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error_msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

            <form method="POST" action="/password" class="mb-3">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="re-password" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="re-password" name="re-password" required autofocus>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</main>
</body>
</html>
