{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center my-4">Available programs</h2>
    {% include "partials/error_form.html" %}
</div>

<div class="accordion" id="accordionExample">

    {% for section in sections %}
    <div class="accordion-item border-start border-4 border-secondary">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 text-muted border-bottom px-3 py-2">
            <h2 class="accordion-header m-0">
                <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ section.ID }}"
                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                        aria-controls="{{ section.ID }}">
                    {{ section.Title }}
                </button>
            </h2>
            <a href="/programs/new?type={{section.Title|lower}}" class="btn btn-outline-primary btn-sm">➕ New</a>
        </div>

        <div id="{{ section.ID }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% if section.Data|length == 0 %}
                <p class="text-muted">No programs</p>
                {% else %}
                {% include "partials/executions_table.html" with days=section.Data type=section.Title %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% if not error_msg %}
    <div class="accordion-item border-start border-4 border-secondary">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 text-muted border-bottom px-3 py-2">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour">
                    Weekly
                </button>
            </h2>
            <a href="/programs/weekly/new" class="btn btn-outline-primary btn-sm">➕ New</a>
        </div>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% if weekly|length == 0 %}
                <p class="text-muted">No programs</p>
                {% else %}
                {% include "partials/weekly_table.html" with programs=weekly %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="accordion-item border-start border-4 border-secondary">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 text-muted border-bottom px-3 py-2">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive">
                    Temperature
                </button>
            </h2>
            <a href="/programs/temperature/new" class="btn btn-outline-primary btn-sm">➕ New</a>
        </div>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% if temperature|length == 0 %}
                <p class="text-muted">No programs</p>
                {% else %}
                {% include "partials/temperature_table.html" with programs=temperature %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}