{% if temperature|length == 0 %}
<strong>No programs</strong>
{% else %}
<div class="table-responsive">
    <table class="table table-bordered table-striped align-middle">
        <thead class="table-dark">
        <tr>
            <th scope="col">Temperature</th>
            <th scope="col">Executions</th>
        </tr>
        </thead>
        <tbody>
        {% for temp in temperature %}
        <tr>
            <td><strong>{{ temp.Temperature }} °C</strong></td>
            <td>
                <div class="ms-2 d-flex flex-column gap-3">
                    {% for program in temp.Programs %}
                    <div class="border rounded bg-white p-3 shadow-sm">
                        <strong>Hour:</strong> {{ program.Hour }}
                        <ul class="list-group list-group-flush mt-2">
                            {% for exec in program.Executions %}
                            <li class="list-group-item bg-light">
                                <strong>Seconds:</strong> {{ exec.Seconds }}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <strong>Zones:</strong> {{ exec.Zones|join:", " }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
