[Unit]
Description=Water system admin service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory={{ home }}
ExecStart={{ home }}/server
EnvironmentFile=/etc/systemd/system/water_system_admin.conf

[Install]
WantedBy=multi-user.target