<nav class="navbar navbar-expand-md border-bottom shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            <img src="/static/logo-icon.png"
                 alt="Logo"
                 height="48"
                 class="d-inline-block align-middle"
                 style="width: auto; max-height: 48px;">
            <span class="fs-5 text-nowrap">Bonsai Water System</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTabs" aria-controls="navbarTabs" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTabs">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if page == 'status' %}active{% endif %}" {% if page == 'status' %}aria-current="page"{% endif %} href="/">
                    <i class="bi bi-speedometer2 me-1"></i>Status
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'logs' %}active{% endif %}" {% if page == 'logs' %}aria-current="page"{% endif %} href="/logs">
                    <i class="bi bi-list-columns-reverse me-1"></i>Logs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'programs' %}active{% endif %}" {% if page == 'programs' %}aria-current="page"{% endif %} href="/programs">
                    <i class="bi bi-calendar-check me-1"></i>Programs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'zones' %}active{% endif %}" {% if page == 'zones' %}aria-current="page"{% endif %} href="/zones">
                    <i class="bi bi-diagram-3 me-1"></i>Zones
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="bi bi-box-arrow-right me-1"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
