---
name: Renovate
on:
  schedule:
    - cron: 0 21 * * 0
  workflow_dispatch: null
jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v5
      - name: Run Renovate
        uses: renovatebot/github-action@v43.0.20
        with:
          configurationFile: renovate-config.js
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: info